p {
    color: black;
  }

p, li, h1 { 
    color: black; 
    }

html { 
        font-size: 15px; /* px means "pixels": the base font size is now 10 pixels high */ 
        font-family: "Open Sans", sans-serif; 
        }

h1 { 
            font-size: 60px; 
            text-align: center; 
            }
            
p, li { 
            font-size: 16px; 
            line-height: 2; 
            letter-spacing: 1px; 
            }

            body{
                background: url("../images/pexels-photo-268415.jpeg");
                background-repeat: no-repeat;
                background-size: cover;
            }
                h1 { 
                    margin: 0; 
                    padding: 20px 0; 
                    color: #00539F; 
                    text-shadow: 3px 3px 1px black; 
                    }

                    img { 
                        display: block; 
                        margin: 0 auto; 
                        }